/* Remove any margin a browser has by default*/
* {
    margin: 0;
}

body {
    background-color: salmon;
}

.grid-container {
    min-height: 100vh; /*div by default only takes the height of its content */
    display: grid;
    grid-template-columns: 10vw 1fr 2fr 10vw;
    grid-template-rows: 10vh 40vh 1fr;
    row-gap: 3vh;
    grid-template-areas:
    "nav nav nav nav"
    ". prof-pic prof-info ."
    ". post post .";
}

.area-border {
    border: 2px solid transparent;
}

.nav { 
    grid-area: nav;
    background-color: cornflowerblue;
    /* to make a sticky header/nav bar, you need two properties: the position of sticky, and where you want it to be at a given view/margin */
    position: sticky;
    top: 0;
}

.nav-links {
    height: 100%; /* divs by default only take up the space of their content, so adding height of 100% will make sure the div for the links takes up more than just the link text height */
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.nav-links > a { /*this will style any a tag that is a child of the nav-links class*/
    color: white;
    text-decoration: none;
}

.nav-links > a:hover {
    font-size: larger;
    text-decoration: underline;
}

.prof-pic { 
    grid-area: prof-pic;
    align-self: center;
}

.img-container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#prof-img {
    max-width: auto;
    height: 100%h;
}

.prof-info {grid-area: prof-info;}

.info-container {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.contact {
    display:flex; /*flex direction by default is a row so this makes the text side by side (from the vertical direction it was before*/
    width: 100%;
    justify-content: space-around;
}

.post {grid-area: post;}